# IDE 和编辑器文件
.ddev/
.idea/
.vscode/

# 操作系统文件
.DS_Store
Thumbs.db

# Composer 依赖
/vendor/

# 数据库备份和敏感信息
*.sql.gz
.env

# NPM 依赖
/node_modules/

# 构建输出
/dist/
/build/

# 日志文件
*.log

# 临时文件
*.tmp

# 生成环境配置文件
sites/default/settings.php
sites/default/settings.ddev.php
.gitignore
backup-2025-04-14T11-00-48.mysql.gz
backup-2025-04-14T11-00-48.mysql.gz:Zone.Identifier

sites/default/files/css/*
sites/default/files/js/*