/* GBNC Blue Skin */
:root {
    --theme-color: #163e64;
    --theme-color-second: #163e64;
    --theme-color-third: #163e64;
    --theme-color-four: #163e64;
    --theme-color-five: #163e64;
    --theme-color-six: #163e64;
    --theme-color-seven: #163e64;
    --theme-color-eight: #163e64;
    --theme-color-nine: #163e64;
    --theme-color-ten: #163e64;
    --theme-color-eleven: #163e64;
    --theme-color-twelve: #163e64;
    --theme-color-thirteen: #163e64;
    --theme-color-fourteen: #163e64;
    --theme-color-fifteen: #163e64;
    --theme-color-sixteen: #163e64;
    --theme-color-seventeen: #163e64;
    --theme-color-eighteen: #163e64;
    --theme-color-nineteen: #163e64;
    --theme-color-twenty: #163e64;
    --theme-color-twenty-one: #163e64;
    --theme-color-twenty-two: #163e64;
    --theme-color-twenty-three: #163e64;
    --theme-color-twenty-four: #163e64;
    --theme-color-twenty-five: #163e64;
    --theme-color-twenty-six: #163e64;
    --theme-color-twenty-seven: #163e64;
    --theme-color-twenty-eight: #163e64;
    --theme-color-twenty-nine: #163e64;
    --theme-color-thirty: #163e64;
    --theme-color-thirty-one: #163e64;
    --theme-color-thirty-two: #163e64;
    --theme-color-thirty-three: #163e64;
    --theme-color-thirty-four: #163e64;
    --theme-color-thirty-five: #163e64;
    --theme-color-thirty-six: #163e64;
    --theme-color-thirty-seven: #163e64;
    --theme-color-thirty-eight: #163e64;
    --theme-color-thirty-nine: #163e64;
    --theme-color-forty: #163e64;
    --theme-color-forty-one: #163e64;
    --theme-color-forty-two: #163e64;
    --theme-color-forty-three: #163e64;
    --theme-color-forty-four: #163e64;
    --theme-color-forty-five: #163e64;
    --theme-color-forty-six: #163e64;
    --theme-color-forty-seven: #163e64;
    --theme-color-forty-eight: #163e64;
    --theme-color-forty-nine: #163e64;
    --theme-color-fifty: #163e64;
    --theme-color-fifty-one: #163e64;
    --theme-color-fifty-two: #163e64;
    --theme-color-fifty-three: #163e64;
    --theme-color-fifty-four: #163e64;
    --theme-color-fifty-five: #163e64;
    --theme-color-fifty-six: #163e64;
    --theme-color-fifty-seven: #163e64;
    --theme-color-fifty-eight: #163e64;
    --theme-color-fifty-nine: #163e64;
    --theme-color-sixty: #163e64;
    --theme-color-sixty-one: #163e64;
    --theme-color-sixty-two: #163e64;
    --theme-color-sixty-three: #163e64;
    --theme-color-sixty-four: #163e64;
    --theme-color-sixty-five: #163e64;
    --theme-color-sixty-six: #163e64;
    --theme-color-sixty-seven: #163e64;
    --theme-color-sixty-eight: #163e64;
    --theme-color-sixty-nine: #163e64;
    --theme-color-seventy: #163e64;
    --theme-color-seventy-one: #163e64;
    --theme-color-seventy-two: #163e64;
    --theme-color-seventy-three: #163e64;
    --theme-color-seventy-four: #163e64;
    --theme-color-seventy-five: #163e64;
    --theme-color-seventy-six: #163e64;
    --theme-color-seventy-seven: #163e64;
    --theme-color-seventy-eight: #163e64;
    --theme-color-seventy-nine: #163e64;
    --theme-color-eighty: #163e64;
    --theme-color-eighty-one: #163e64;
    --theme-color-eighty-two: #163e64;
    --theme-color-eighty-three: #163e64;
    --theme-color-eighty-four: #163e64;
    --theme-color-eighty-five: #163e64;
    --theme-color-eighty-six: #163e64;
    --theme-color-eighty-seven: #163e64;
    --theme-color-eighty-eight: #163e64;
    --theme-color-eighty-nine: #163e64;
    --theme-color-ninety: #163e64;
    --theme-color-ninety-one: #163e64;
    --theme-color-ninety-two: #163e64;
    --theme-color-ninety-three: #163e64;
    --theme-color-ninety-four: #163e64;
    --theme-color-ninety-five: #163e64;
    --theme-color-ninety-six: #163e64;
    --theme-color-ninety-seven: #163e64;
    --theme-color-ninety-eight: #163e64;
    --theme-color-ninety-nine: #163e64;
    --theme-color-hundred: #163e64;
}