.topbar{
  background: $black;
  color: $white;
  padding: 0;
  overflow: hidden;
  .topbar-left{
    background: $black;
    color: $white;
    padding: 15px;
    text-align: left; 
    a{
      color: $theme_color;
      &:hover{
        color: $white;
      }
    }
  }
  .topbar-right{
    background: $theme_color;
    padding: 15px 0;
    position: relative;
    text-align: right;
    @include media-breakpoint-down(md){
      padding-left: 15px;
      padding-right: 15px;
    }
    @media(max-width: 550px){
      display: none;
    }
    &:after{
      content: '';
      @include size(1000px, 100%);
      background: $theme_color;
      position: absolute;
      left: 100%;
      top: 0;
      z-index: 9;
    }
    &:before{
      content: '';
      @include size(1000px, 100%);
      background: $theme_color;
      position: absolute;
      right: 100%; 
      top: 0;
      z-index: 9;
      display: none;
      @include media-breakpoint-down(md){
        display: block;
      }
    }
  }
  ul{
    margin: 0!important;
  }
  .block{
    margin: 0!important;
  }
  .topbar-content-inner{
    .topbar-content{
      position: relative;
      a{ 
        text-decoration: underline;
        color: $white;
        &:hover{
          color: $theme-color;
        }
      }
    }
  }
}  

//Quick Side
.quick-side-icon{
  position: absolute;
  right: 54px;
  top: 50%;
  margin-top: -10px;
  z-index: 1;
  .icon{
    font-size: 20px;
    line-height: 1;
  }
}

.gva-quick-side{
  position: fixed;
  width: 350px;
  top: 0;
  right: -355px;
  z-index: 99;
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  background: $white;
  @include transition(all 0.35s);
  padding: 50px 30px 20px;
  overflow-x: hidden;
  height: 100%;
  @media(max-width: 355px){
    width: 100%;
  }
  .quick-side-close{
    margin-bottom: 30px;
    font-size: 16px;
    display: inline-block;
    @include size(42px, 42px);
    border-radius: 50%;
    background: #F3F5FA;
    line-height: 42px;
    text-align: center;
    &:hover{
      background: $theme-color;
      color: $white;
    }
  }
  .content-inner{
    .block{
      text-align: left;
      .block-title{
        text-align: left;
        font-weight: 600;
      }
    }
    ul{
      width: 100%;
      > li{
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .block{
    border-bottom: 1px solid $border-color;
    margin-bottom: 30px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
    &:last-child{
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  &.open{
    right: 0;
    width: 352px;
  }
}

header{
  .site-branding-logo{
    padding: 26px 0 10px;
    display: inline-block;
    max-height: 95px;
    height: auto;
  }

  @include media-breakpoint-down(sm){
    .site-branding{
      text-align: left;
      padding-bottom: 10px;
    }
    .header-right-inner, .header-right-inner .block{
      text-align: center!important;
    }
  }
  .header-main{
    padding: 0;
    background: none;
  }
  @include media-breakpoint-down(md){
    .main-menu-inner{
      width: 100%;
    }
  }
  .area-main-menu{
    .navigation{
      position: static;
      ul.gva_menu{
        position: static;
      }
    }
  }
  .block{
    overflow: visible;
  }
  .header-right{
    @include media-breakpoint-down(xs){
      display: none;
    }
    .header-information{
      display: inline-block;
      text-align: left;
      margin-right: 100px;
      &:first-child{
        margin-right: 0;
      }
      .icon{
        display: inline-block;
        @include size(60px, 60px);
        text-align: center;
        line-height: 60px;
        background: #F3F5FA;
        border-radius: 50%;
        font-size: 24px;
        padding-left: 8px;
      }
      .content{
        padding-top: 10px;
        .label{
          display: block;
          color: $body-color;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
        .text{
          display: block;
          font-size: 18px;
          font-weight: 400;
          color: $black;
          line-height: 24px;
        }
      }
      &.icon-left{
        .icon{
          float: left;
        }
        .content{
          padding-left: 75px;
        }
      }
      &.icon-right{
        .icon{
          float: right;
          @include media-breakpoint-down(md){
            float: left;
          }
        }
        .content{
          padding-right: 75px;
          @include media-breakpoint-down(md){
            padding-right: 0;
            padding-left: 75px;
          }
        }
      }
    }
  }
  .header-left{

  }
  .header-right{
    .header-information{
      float: right;
    }
  }
}

//Search
.gva-search-region{ 
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  z-index: 9;
  line-height: 1;
  @include media-breakpoint-down(md){
    right: 75px;
  }
  .icon{
    font-size: 16px;
    color: $black;
    &:hover{
      cursor: pointer;
    }
  }
  .search-content{ 
    display: none;
    width: 310px;
    position: absolute;
    top: 43px;
    right: 0;
    margin-top: -1px;
    z-index: 99;
    background: $white;
    padding: 20px;
    @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
    border: 1px solid $border-color;
    form.search-block-form{
      padding-right: 95px;
      position: relative;
      input#edit-keys{
        height: 35px;
        padding: 5px;
        border: 1px solid $border-color;
        background: none;
        width: 100%;
      }
      input[id*="edit-submit"]{ 
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        height: 35px;
        line-height: 35px;
        padding: 0 5px;
        background: $theme-color;
        color: $white;
        border: none;
        font-size: 12px;
        width: 90px;
        &:hover{
          cursor: pointer; 
        }
      }
    }
    #edit-actions{
      margin: 0!important;
      padding: 0!important;
    }
  }
  &.show{
    .search-content{
      display: block;
    }
  }
}

header.header-default{
  position: relative;
  background: $white;
  z-index: 99;
  .gva-search-region{
    .icon{
      color: $black;
    }
  }
  .header-main-inner{
    .branding{
      width: 180px;
      float: left;
    }
    .header-inner{
      padding-left: 180px;
      padding-right: 65px;
      @include media-breakpoint-down(sm){
        padding-right: 0;
      }
    }
    .quick-side-icon{
      margin-top: -12px;
    }
    .gva-search-region{
      margin-top: -8px;
    }
    .gva-offcanvas-mobile{
      float: right;
    }
  }
  .stuck{
    background: $white;
  }
  .main-menu-inner{
    float: left;
  }
}

header.header-1{
  .header-main{
    padding: 35px 0;
    background: $white;
    .site-branding-logo{
      padding: 12px 0 0;
      @include media-breakpoint-down(xs){
        padding-bottom: 20px;
      }
      .logo-white{
        display: none;
      }
    }
    .header-info{
      .header-icon{
        color: $theme-color;
      }
      .title{
        color: $black;
      }
    }
  }
  .block{
    margin-bottom: 0;
  }
  .main-menu{
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    .area-inner{
      padding: 0;
    }
    ul.gva_menu_main{
      float: left;
    }
  }

  @media(max-width: 575px){
    .branding{
      width: 100%;
      text-align: center;
    }
    .right-header{
      width: 100%;
      text-align: center;
      .header-info{
        display: inline-block;
        .content-inner{
          text-align: left;
        }
      }
    }
  }
  .stuck{
    background: $white;
  }
}  

header.header-v2{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: none;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  .header-main-inner{
    .branding{
      width: 190px;
      float: left;
      @include media-breakpoint-down(md){
        width: 170px;
      }
    }
    .site-branding-logo{
      padding-top: 28px;
      img{
        display: none;
        &.logo-white{
          display: block!important;
          visibility: visible!important;
        }
      }
    }
    .header-inner{
      padding-left: 200px;
      padding-right: 68px;
      @include media-breakpoint-down(md){
        padding-left: 180px;
      }
      @include media-breakpoint-down(sm){
        padding-right: 0;
      }
    }
    .gva-offcanvas-mobile{
      float: right;
    }
  }
  .quick-side-icon{
    .icon a{
      color: $white;
    }
  }
  .gva-search-region{
    .icon{
      color: $white!important;
    }
  }
  .stuck{
    background: $black!important;
  }
  .main-menu-inner{
    float: left;
    @media(min-width: 992px){
      .navigation .gva_menu > li{
        > a{
          color: $white;
          &:hover{
            color: $theme-color;
          }
        }
      }
    }
  } 
  #menu-bar span{
    background: $white;
  }
}

header.header-v3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: transparent;
  margin-top: 2px;
  @include media-breakpoint-down(sm){
    position: static;
    margin-top: 0;
  }
  .gva-search-region{
    .icon{
      color: $black;
    }
  }
  .header-main-inner{ 
    background: $white;
    margin-top: 30px;
    padding: 0 30px;
    @include media-breakpoint-down(sm){
      margin-top: 0;
    }
    .branding{
      width: 190px;
      float: left;
    }
    .header-inner{
      padding-left: 200px;
      padding-right: 60px;
      @include media-breakpoint-down(sm){
        padding-right: 0;
      }
    }
    .gva-offcanvas-mobile{
      float: right;
    }
  }
 
  .stuck{
    background: $white;
    .header-main-inner{
      margin-top: 0;
    }
  }
  .main-menu-inner{
    float: left;
  }
}

.gv-sticky-menu{
  position: static;
  top: -75px;
  @include transition(all 0.25s);
}
.stuck {
  position:fixed!important;
  top: 0;
  left: 0;
  z-index: 99!important;
  width: 100%;
  @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.1));
  @include transition(all 0.35s);
}
@include media-breakpoint-up(lg){
  .sticky-is-hidden{
    .stuck{
      top: -200px;
    }
  }
  .sticky-is-show .stuck{
    @include box-shadow(0 1px 12px 0 rgba(0, 0, 0, 0.1));
    top: 0;
  }
}