// $theme_color: #163e64;
$theme_color: #4dbdc7;
$image-theme-path-base: '../../../images/';
$base-theme-image-path: '../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color: #4dbdc7;

// 自定义辅助颜色
$theme_color_secondary: #4dbdc7;