




.timenewpage-details::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
    width: 15px;
    height: 15px;
    background: #1a76d1;
}
.timenewpage-details::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1a76d1;
}

.timenewpage-details {
    position: relative;
    text-transform: capitalize;
    font-family: 'Lato';
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    width: fit-content;
}
.node--type-xinwendongtai .blog-post-item-details {
    max-width: 80%;
}

.new-video-details{
    height: 600px;
    width: 1000px;
    object-fit: cover;
}

.new-view-img-details img {
    height: 600px;
    width: 1000px;
    object-fit: cover;
}
.entry-content-details p {
    text-transform: capitalize;
    font-family: 'Lato';
    color: #656565;
    font-size: 18px;
    line-height: 35px;
    font-weight: 300;
    margin-top: 60px;
    text-indent: 2em;
}
.right-new-view-video video {
     max-width: 160px;
    width: 160px;
    height: 130px;
    object-fit: cover;
}
div.sidebar-right.theiaStickySidebar {
    display: initial;
}
.right-new-view-img img {
    max-width: 160px;
    width: 160px;
    height: 130px;
    object-fit: cover;
}
.right-entry-content p {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-transform: capitalize;
    font-family: 'Lato';
    color: #656565;
    font-size: 16px;
    line-height: 30px;
}
.right-blog-post-item {
    display: flex;
    gap: 30px;
}
.block-views-blockxinwenshitu-new-right-block .view-content-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newtimea a.blog-date {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #204ecf;
}
.timeicon {
    color: #204ecf;
}
.toptags {
    height: 25px;
    width: 25px;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-new-view-img {
    position: relative;
}

.right-new-view-video {
    position: relative;
}
.news-right-view:nth-child(1) .toptags {
    background: #f95456;
}
.news-right-view:nth-child(2) .toptags {
    background: #f6a625;
}
.news-right-view:nth-child(3) .toptags {
    background: #4385f4;
}
